/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

body{
	font-family: 'Roboto', sans-serif;
}
.container{
	max-width: 1140px;
	padding: 0 15px;
	margin: 0 auto;
}

header{	
    clip-path: polygon(0 0%, 100% 0, 100% 90%, 50% 100%, 0 90%);
	height: 800px;
	margin-bottom: 120px;
	position: relative;
}
header::before{
	background: url("../img/bg.png") no-repeat center center;
    background-size: cover;
    content: ' ';
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    will-change: transform;
    z-index: -1;
}
.head-bg{
	background-color: rgba(69, 198, 220, 0.6);
	width: 100%;
	height: 100%;
}
.header-top{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 42px 0;
}
.title-top{
	font-size: 18px;
    font-weight: 100;
    color: #fff;
    width: 300px;
    margin-left: 50px;
    margin-right: auto;
}
.number{
	font-size: 24px;
    font-weight: 500;
    color: #fff;
}

.header-content{
	display: flex;
	justify-content: space-between;
}
.content-title{
	margin: 90px 75px 0 0;
}
.header-title{
	font-size: 64px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 45px;
}
.header-text{
	font-size: 36px;
    font-weight: 400;
    color: #fff;
}



.header-form{
	display: flex;
	flex-direction: column;
	background-color: #313b48;
	padding: 50px 40px;
	justify-content: center;
	align-items: center;
}
.form-row{
	display: flex;
	flex-direction: column;
	width: 250px;
}
.form-title{
    font-weight: 400;
    color: #fff;
    font-size: 30px;
    text-align: center;
    margin-bottom: 16px;
}

.form-input{
	max-width: 250px;
	height: 50px;
	background-color: #313b48;
	border: 1px solid #3c4550;
	border-radius: 5px;
	color: #aaaaaa;
	margin-bottom: 15px;
	padding-left: 10px;
	font-size: 14px;
}
input {
	transition: all 0.20s ease-in-out;
	-webkit-transition: all 0.20s ease-in-out;
	-moz-transition: all 0.20s ease-in-out;
	outline:none;
}

input:focus {
	border:#35a5e5 1px solid;
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	-webkit-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	-moz-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}


.form-button{
	background: #53DF83;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    color: #FFFFFF;
    padding: 17px 60px;
    border-radius: 5px;
    text-transform: uppercase;
    transition: all 0.3s;

}
.form-button:hover{
	background: #46c873;
}
.button_scale {
	transition: 0.1s;
   -webkit-transform: scale(0.94);
    transform: scale(0.94);
}

.form-text{
	font-family: Open Sans;
	text-align: center;
	width: 230px;
	margin: 10px 0;
	font-size: 12px;
	color: #aaaaaa;
}
.form-text a{
	text-decoration: none;
	color: #3288e6;
}




.advantages{
	text-align: center;
}
.advantages-title{
	font-size: 48px;
	font-weight: 700;
	margin-bottom: 85px;
	text-align: center;
}
.advantages-wrap{
	display: flex;
	justify-content: center;
	align-self: center;
	margin-bottom: 120px;
}
.advantages-img{
	margin-right: 60px;
}
.advantages-text{
	display: flex;
	justify-content: center;
}
.advantages-list{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
}
.advantages-li{
	font-size: 24px;
	font-weight: 300;
	margin-bottom: 40px;
}
.advantages-li::before{
	content: '';
	padding-right:50px;
	width: 24px;
	height: 24px;
	background: url(../img/icons/icon.png) no-repeat;
}
.advantages-button{
	background: #53DF83;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    color: #FFFFFF;
    padding: 17px 60px;
    border-radius: 5px;
    text-transform: uppercase;
    margin-bottom: 100px;
    display: inline-block;
    transition: all 0.3s;	
}
.advantages-button:hover{
	background: #46c873;
}




.creat{
	background: #ebebeb;
	padding: 115px 0 100px 0;

}
.creat-titlte{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 90px;
    text-align: center;
}

.creat-content{
	display: flex;
	justify-content: center;
	align-items: center;
}
.creat-text{
	padding-top: 15px;
}
.creat-list{
	font-size: 24px;
    font-weight: 100;
    margin-bottom: 60px
}
.creat-img{
	display: flex;
	flex-direction: column;
	margin-right: 35px;
	margin-bottom: 70px;
}
.creat-img img{
	margin-bottom: 30px;
}
.creat-list-wrap{
	display: flex;
}

.creat-img-landing{	
	display: flex;
	margin-right: -170px;
	margin-left: 170px;
}
.creat-button{
	background: #53DF83;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    color: #FFFFFF;
    padding: 17px 60px;
    border-radius: 5px;
    text-transform: uppercase;
    transition: 0.3s;
}
.creat-button:hover{
	background: #46c873;
}

.button-center{
	text-align: center;
}



.projects{
	padding: 115px 0;

}
.projects-title{
	font-size: 48px;
	font-weight: 700;
    margin-bottom: 90px;
    text-align: center;
}
.projects-wrap{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 0 50px;
}
.project-list{
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 25px;
}

.projects-subtitle{
	font-size: 24px;
	font-weight: 400;
    text-align: center;
    margin-bottom: 15px;
}
.projects-img{
	box-shadow: 0 0 23px rgba(0, 0, 0, 0.18);
	margin-bottom: 30px;
}
.projects-text{
	font-size: 16px;
	font-weight: 100;
    text-align: center;
    max-width: 225px;
}





.order{
	background-image: url(../img/bg-2.png);
	background-position: 100% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
.order-wrap{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 135px 0 100px 0;
}
.order-title{
	color:#313b48;
	font-size: 52px;
	font-weight: 700;
    text-align: center;
    width: 600px;
    margin-bottom: 45px;
    line-height: 70px;
}
.order-text{
	color:#313b48;
	font-size: 24px;
	font-weight: 400;
    text-align: center;
    margin-bottom: 36px;
}




.footer{
	padding: 50px 0;
}
.footer-wrap{
	display: flex;
	justify-content: space-between;
	padding: 0 10px;
}
.footer-email{
	margin: 18px 0 20px 0;
}
.email-adress{
	font-size: 18px;
	font-weight: 100;
    text-align: left;
}

.footer-phone{
	padding-right: 15px;
	font-size: 24px;
	font-weight: 100;
    text-align: right;
    margin-bottom: 20px;
}


.bg-form{
	transition: 0.3s;
	opacity: 0;
	visibility: hidden;
	position: fixed;
	background: rgba(0, 0, 0, 0.5);
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
.form-active .bg-form{
	opacity: 1;
	visibility: visible;
	z-index: 1;
}

.popup-form-wrap{
	z-index: 2;
	/* Центруем блок на странице*/
	position: fixed;
	left: 50%;
	top:-50%;
	transform: translate(-50%, -60%);
	/* Центруем блок на странице*/
	width: 400px;
	height: 451px;
	background: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: 0.3s all;
	border-radius: 5px;
	padding: 57px 30px;
}

.form-active .popup-form-wrap{
	top: 50%;

}

.popup-form-row{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.close-form{
	position: absolute;
	top: 30px;
	right: 22px;
	font-size: 25px;
	font-weight: 400;
	cursor: pointer;
	color: #b1b4b8;
}
.popup-form-title{
	font-family: Roboto;
    font-weight: 400;
    font-style: normal;
    color: rgba(0, 0, 0, 1);
    font-size: 26px;
    text-align: center;
    margin-bottom: 25px;
}
.popup-form-input{
	width: 340px;
	height: 51px;
	border: 1px solid rgba(227, 227, 227, 1);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	border-radius: 5px;
	color: #aaaaaa;
	margin-bottom: 15px;
	padding-left: 10px;
	font-size: 14px;
}
.popup-form-button{
	display: block;
	background: #313B48;
	color: #fff;
	font-family: Roboto;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
	padding: 18px 37px;
	border-radius: 5px;
	margin-bottom: 18px;
	margin-top: 12px;
	width: 178px;
}
.popup-form-text{
	width: 300px;
    font-weight: 400;
    font-style: normal;
    color: #aaa;
    font-size: 12px;
    text-align: center;
}
.popup-form-text a{
	color: #0088cc;
}






/*Слайдер*/
.owl-carousel{
	text-align: center;
}
.owl-item{
	padding-top: 20px;
}
.owl-nav{
	color: #53DF83;
	display:inline-block;
	font-size: 65px;
	line-height: 45px;
	width: 200px;
	text-align: center;
	transition: 0.3s;
}
.owl-prev{
	margin: 8px 8px;
}
.owl-next{
	margin: 8px 8px;
}
.owl-theme .owl-nav [class*=owl-]{
	margin: 0 8px;
}
.owl-theme .owl-nav [class*=owl-]:hover{
	background: none;
    color: #53DF83;
    text-decoration: none;
}
/*Слайдер*/



@media screen and (max-width: 1400px) {}
@media screen and (max-width: 1200px) {
	header{
		margin-bottom: 100px;
		height: 750px;
	}
	.header-top{
		padding: 30px 0;
	}
	.header-title{
		font-size: 50px;
		margin-bottom: 20px;
	}
	.header-text{
		font-size: 30px;
	}
	.header-form {
		padding: 35px 30px;
	}
	.form-row{
		width: 270px;	
	}
	.advantages-img{
		margin-right: 40px;
	}
	.advantages-wrap{
		margin-bottom: 100px;
	}
	.advantages-button {
		margin-bottom: 80px;
	}
	.creat {
		padding: 95px 0;
	}
	.creat-img-landing{
		margin-right: -80px;
   		margin-left: 80px;
	}
	.projects {
		padding: 100px 0;
	}
	.order-wrap{
		padding: 100px 0;
	}
}
@media screen and (max-width: 992px){
	.creat-img-landing {
		margin-right: 0px;
   		margin-left: 0px;
	}
	header {
    margin-bottom: 80px;
    height: 645px;
	}
	.header-top {
		padding: 20px 0;
	}
	.header-title {
    font-size: 58px;
    margin-bottom: 8px;
    line-height: 64px;
	}
	.header-text {
    font-size: 25px;
	}	
	.content-title {
		margin: 90px 20px 0 0;
	}
	.form-row{
		width: 240px;
	}
	.form-input{
		height: 40px;
	}
	.form-button {
		padding: 14px 60px;
		font-size: 16px;
	}
	.form-title {
		font-size: 25px;
	}
	.advantages-title{
		font-size: 40px;
		margin-bottom: 65px;
	}
	.advantages-wrap{
		flex-direction: column;
	}
	.advantages-img {
		margin-right: 0;
	}
	.advantages-text{
		margin-left: 60px;
	}
	.advantages-li{
		margin-bottom: 27px;
	}
	.advantages-wrap {
		margin-bottom: 55px;
	}
	.creat-titlte {
		font-size: 40px;
		margin-bottom: 65px;
	}
	.creat-img-landing img{
		width: 380px;
		height: auto;
	}
	.creat-img{
		margin-bottom: 35px;
	}
	.creat-content{
		justify-content: space-around;
	}
	.projects {
		padding: 80px 0;
	}
	.projects-title{
		font-size: 40px;
		margin-bottom: 60px;
	}
	.order-wrap {
		padding: 80px 0;
	}
	.order-title {
		font-size: 40px;
		line-height: 50px;
		margin-bottom: 20px;
	}
	.footer {
		padding: 35px 0;
	}
}
@media screen and (max-width: 768px){
	header {
   		margin-bottom: 50px;
   		height: 720px;
	}
	.title-top{
		display: none;
	}
	.creat-img-landing{
		display: none;
	}
	.header-content{
		flex-direction: column;
		align-items: center;
	}
	.content-title {
		margin: 0 0 20px 0;
		text-align: center;
	}
	.header-title{
		font-size: 47px;
	}
	.header-text{
		font-size: 22px;
	}
	.header-form{
		max-width: 330px;
		padding: 29px 15px;
	}
	.advantages-wrap {
		margin-bottom: 20px;
	}
	.advantages-title {
	    font-size: 30px;
	    margin-bottom: 50px;
	}
	.advantages-li{
		font-size: 20px;
		margin-bottom: 20px;
	}
	.advantages-text {
		margin-left: 35px;
	}
	.creat {
		padding: 65px 0;
	}
	.creat-titlte {
		font-size: 29px;
		margin-bottom: 50px;
	}
	.projects {
		padding: 60px 0;
	}
	.order-title {
		font-size: 35px;
		margin-bottom: 0;
		max-width: 450px;
	}
	.order-text {
		font-size: 18px;
		margin-bottom: 32px;
	}
	.creat-button {
		padding: 17px 31px;
		font-size: 16px;
	}
	.btn-footer{
		font-size: 15px;
		padding: 17px;
	}
	.email-adress{
		font-size: 17px;
	}
	.footer-mail{
		margin-right: 35px;
		width: 280px;
	}
	.footer-phone{
		font-size: 20px;
		margin-bottom: 15px;
	}


	.popup-form-wrap {
		width: 315px;
		height: 405px;
		padding: 45px 30px;
	}
	.popup-form-input {
		width: 270px;
		margin-bottom: 10px;
		height: 45px;
	}
	.popup-form-button {
		font-size: 15px;
		padding: 15px 37px;
	}
	.popup-form-text {
		width: 250px;
		font-size: 11px;
	}
	.popup-form-title {
		font-size: 23px;
	}
	.close-form {
		top: 13px;
	}
}
@media screen and (max-width: 551px){
	header {
		height: 650px;
	}
	.content-title {
		margin-bottom: 25px;
	}
	.advantages-img img{
		width: 280px;
	}
	.order-title {
		max-width: 290px;
	}

	.header-top {
		padding: 7px 0;
	}
	.header-top img{
		width: 45px;
	}
	.number {
		font-size: 19px;
	}
	.header-title{
		font-size: 37px;
		line-height: 40px;
	}
	.header-text {
		font-size: 19px;
	}
	.form-input {
		margin-bottom: 12px;
	}
	.header-form{
		padding: 29px 15px;
	}
	.form-button {
    	padding: 10px 40px;
    	font-size: 14px;
	}
	.form-title {
		font-size: 21px;
	}
	.advantages-title{
		font-size: 25px;
	}
	.advantages-text{
		margin-left: 0;
	}
	.advantages-li::before{
		padding-right: 35px;
	}
	.advantages-li{
		font-size: 16px;
		line-height: 23px;
	}
	.advantages-button {
		font-size: 15px;
		padding: 17px 47px;
		margin-bottom: 50px;
	}
	.creat {
		padding: 45px 0;
	}
	.creat-titlte{
		font-size: 24px;
	}
	.creat-list {
		font-size: 18px;
	}
	.creat-img img {
		margin-bottom: 23px;
	}
	.projects {
		padding: 45px 0;
	}
	.owl-nav{
		line-height: 20px;
	}
	.projects-title {
   		font-size: 30px;
    	margin-bottom: 40px;
	}
	.order-wrap {
		padding: 60px 0;
	}
	.order-title {
		font-size: 21px;
		line-height: 24px;
		margin-bottom: 11px;
	}
	.order-text{
		font-size: 16px;
	}
	.creat-button {
		font-size: 13px;
	}
	.btn-footer{
		display: none;
	}
	.footer-wrap{
		flex-direction: column;
	}
	.footer-phone{
		text-align: left;
		margin: 15px 0 0 0;
	}
	.footer {
		padding: 30px 0;
	}

	.project-list{
		margin: 0 90px;
	}

	.popup-form-wrap {
		width: 290px;
	}

}
@media screen and (max-width: 400px){
	.project-list{
		margin: 0 25px;
	}
}


